<div class="container">
  <div class="center">
    <div class="mb-4 text-8xl font-bold border-round m-2">
      Placeholder for the game
    </div>
    <div class="flex align-center text-2xl font-thin border-round mb-6">
      Wpisz swoje nickname i zespół dla którego chcesz walczyć.
    </div>
    </div>
    <span class="p-float-label">
      <input pInputText id="username">
      <label htmlFor="username">Username</label>
    </span>


  <p-dropdown [options]="teamList" [(ngModel)]="selectedTeam" optionLabel="name" [filter]="true" filterBy="name" class="mt-4" [showClear]="true" placeholder="Wybierz zespół">
    <ng-template pTemplate="selectedItem">
      <div class="flex align-items-center gap-2" *ngIf="selectedTeam">
        <div>{{ selectedTeam.name }}</div>
      </div>
    </ng-template>
  </p-dropdown>

  <p-button class="mt-5" label="Graj"></p-button>
</div>
