.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.btn-primary {
  background-color: black; /* Modern blue color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px; /* Slightly increased padding for a bolder appearance */
  font-size: 18px; /* Larger font size */
  font-weight: bold;
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Slight letter spacing for better readability */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary:hover {
  background-color: #007bff; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight upward lift on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced box shadow on hover */
}

.btn-primary:hover {
  background-color: #0056b3;
}
