.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #666;
}

.btn-primary {
  background-color: #352F44; /* Blue color */
  color: #fff;
  border: none;
  border-radius: 50px; /* Rounder button */
  padding: 15px 30px; /* Increased padding for a bolder appearance */
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  overflow: hidden; /* Hide the excess shadow on rounded corners */
}

.btn-primary:hover {
  background-color: black; /* Darker blue on hover */
  transform: translateY(-3px); /* Slight upward lift on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}
