.container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

.gameTitle {
  margin: 50px;
}
