.button-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Add spacing at the bottom */
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px; /* Add spacing at the top */
}

.btn {
  padding: 12px 24px;
  margin-bottom: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-start {
  background-color: #28a745; /* Green color for starting */
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-start:hover {
  background-color: #218838; /* Darker green on hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-stop {
  background-color: #dc3545; /* Red color for stopping */
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-stop:hover {
  background-color: #c82333; /* Darker red on hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.timer {
  font-size: 48px;
  color: #333;
  font-weight: bold;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* app.component.css */

/* Apply a general style to the entire page */
.container {
  margin: 20px;
}

/* Styles for team progress section */
.team-progress {
  margin-top: 20px;
}

.team-progress .text-lg {
  font-size: 1.25rem;
  font-weight: 600;
}

.team-progress .team-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.team-bar .team-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.team-bar .team-item .progress-container {
  width: 120px;
  height: 16px;
  background-color: #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.team-bar .team-item .progress-bar {
  height: 100%;
  width: 0;
  background-color: #3498db;
  transition: width 0.3s ease-in-out;
}

.team-bar .team-item .team-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.team-bar {
  display: flex;
  flex-direction: column;
  gap: 50px;

}
