<div *ngIf="gameEnd">
  <div class=" px-4 py-8 md:px-6 lg:px-8">
    <div class="text-500 text-center">
      <div class="text-white-600 font-bold mb-3">SZCZERE</div>
      <div class="text-white-900 font-bold text-8xl mb-3">GRATULACJE</div>
      <div class="text-700 text-5xl mb-5">{{ winnersTeamName }}</div>
      <div class="text-700 text-2xl mb-5">Gracze z zespołu:</div>
      <div *ngFor="let player of players" class="m-2 text-2xl">
        {{player.username}}
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="!gameEnd">
  <p class="text-5xl">To jest wyścig! Kto pierwszy dojedzie do "mety" wygrywa!</p>
  <div class="button-container flex flex-row">
    <button class="btn btn-start" (click)="startGameBtn()">Start Game</button>
  </div>
  <div *ngFor="let team of teams" class="team-item">
    <div class="card">
      <h5>{{team.name}}</h5>
      <p-progressBar class="customProgress" [value]="team.progress/10" [showValue]="false"/>
    </div>
  </div>
</div>

