<div class="button-container">
  <button class="btn btn-start" (click)="startGameBtn()">Start Game</button>
  <button class="btn btn-stop" (click)="stopTimer()">Stop Game</button>
</div>
<div class="timer-container">
  <div class="timer">{{ formattedTime }}</div>
</div>

<!-- Team progress section -->
<div class="container">
  <p-progressBar [value]="80"></p-progressBar>

  <div class="team-progress">
    <div class="text-lg font-medium">
      Team Progress:
    </div>
    <div class="team-bar">

      <div *ngFor="let team of teams" class="team-item">
        <div class="progress-container">
          <!-- Progress bar -->
          <div class="progress-bar" [style.width]="team.progress + '%'"></div>
        </div>
        <div class="team-name">
          <!-- Team name -->
          {{ team.name }}
        </div>
      </div>
    </div>
  </div>
</div>

